# For security
config.js
database.sqlite
/bot_modules

# For tidyness
/helpful_stuff
/node_modules
/.vs
/.vscode

# To hide DEV ONLY commands
/commands/reset.js
/commands/test.js

# To hide my plans :P
TODO.md
